# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
.vscode/

# gcsim
backend/
pipeline/
containers/
protos/
scripts/
ui/
doc.go
todo.md
tsconfig.json
Taskfile.yml
serve_data.json.gz
serve_sample.json.gz

# WebUI logs
webui.log
*.log
